.usefulServicesPage {
    min-height: 99vh;
    margin: 50px 152px 20px 152px;
    display: flex;
    flex-direction: column;
}

.servicesContainer {
    display: flex;
    flex-direction: column;
}

.serviceCard {
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.serviceCardTitle {
    display: flex;
    justify-content: space-between;
}

.serviceCardDetails img {
    height: auto;
    width: 15vw;
    margin-right: 15px;
    border-radius: 8px;
    object-fit: contain;
    max-height: 100%;
}

.serviceCardDetails {
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.serviceCardBtn {
    font-size: 14px;
    height:fit-content;
    display: flex;
    align-items: center;
}

.arrow {
    width: 24px;
    height: 24px;
}