.usefulServicesPage {
    min-height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.servicesContainer {
    margin: 10px 152px;
    display: flex;
    flex-direction: column;
}

.serviceCard {
    min-width: 100%;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.serviceCardTitle {
    display: flex;
    justify-content: space-between;
}

.serviceCardDetails img {
    width: min(auto);
    height: min(75px);
    margin-right: 15px;
    border-radius: 8px;
}

.serviceCardDetails {
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.serviceCardBtn {
    font-size: 14px;
    height:fit-content;
    display: flex;
    align-items: center;
}

.arrow {
    width: 24px;
    height: 24px;
}