.admin-page-content {
   margin: 50px 152px 20px 152px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.main-container.first {
   grid-column: 1 / span 4;
}
.main-container.second {
   grid-column: 5 / span 4;
}
.main-container.third {
   grid-column: 9 / span 4;
}

.users-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.profile-admin-card {
   cursor: pointer;
}

.profile-avatar {
   grid-column: 1 / span 3;
}
.profile-avatar img {
   max-width: 100%;
   height: auto;
}

.profile-info {
   grid-column: 4 / span 12;
   display: flex;
   flex-direction: column;
}