.events-page {
    min-height: 95vh;
    min-width: 98vw;
    max-width: 98vw;
}

.events-page-content {
    margin: 50px 152px;
}

.search-bar {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0px;
}

.search-forms {
    display: flex;
    flex-wrap: wrap;
}

.input-form-w-label {
    position: relative;
    margin: 15px 5px;
}

.label-form {
    position: absolute;
    top: -10px;
    left: 10px;
    font-size: 14px;
    z-index: 1;
    background: #fff;
}

.form-input {
    width: 40vw;
}
.form-input.name {
    width: 65vw;
}

.search-btn {
    width: 8vw;
    height: 40px;
    margin: 15px 5px;
    padding: 0px 10px;
}

.events-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    height: 100%;
}

.event-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.event-card img {
    width: 50%;
    height: min-content;
    border-radius: 10px;
}

.event-card-content {
    display: flex;
    flex-direction: column;
    margin: 15px;
}
  
.first-column-block {
    grid-column: 1 / span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-column-block {
    grid-column: 5 / span 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: min-content;
    width: 100%;
}